<div class="coords"></div>

<script type="application/javascript">
  $(document).ready(function() {
    if ("geolocation" in navigator) {
      
      var options = {
        enableHighAccuracy: true,
        timeout: 10000
      };
      
      function success(pos) {
        var latitude = pos.coords.latitude;
        var longitude = pos.coords.longitude;
        
        $(".coords").append("Your coordinates are " + latitude + "," + longitude);
      };
      
      function error(err) {
        $(".coords").append("ERROR(" + err.code + '): ' + err.message);
      };
      
      navigator.geolocation.getCurrentPosition(success, error, options);
      
    } else {
      $(".coords").append("Sorry, your browser does not support this functionality!\n We recommend Google Chrome!");
    }
  });
  
  var noOfClicks = 0;
  
  $(".navbar-form").on("keyup", function (data) {
    noOfClicks++;
    
    var text = $('.form-control')[0].value;
    
    if (noOfClicks === 3) {
      $.ajax({
        url: '/users/search',
        type: 'GET',
        data: {text: text},
        success: function(responseData) {
          console.log(responseData);
        }
      });
    }
  })
  
</script>
