/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap.min
 */

.navbar {
  background-color: rgb(241,241,241);
}

.navbar-brand {
  margin-top: 8px;
  font-size: 200%;
}

.form-control {
  margin-top: 5px;
}

.form {
  position: relative;
}

.names {
  position: absolute;
  padding-right: 300px;
  background-color: white;
  z-index: 9999;
  left: 80px;
  top: 60px;
}

.adduser {
  float: right;
}

.userresult {
  padding: 8px;
  float: left;
}